/* Container Layout */

@import url('https://fonts.cdnfonts.com/css/ethnocentric');


.container {
  display: flex;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    z-index: 10000000000;
    position: fixed;
}

.topbanner {
  position: sticky;
  width: 100vw;
  height: 50px;
  background-color: rgb(253 36 127);
  border: none;
  display: flex;
  justify-content: center;
  font-family: 'Ethnocentric Rg', sans-serif ! important ;
  /* justify-content: space-around; */
}

/* Sticky Top Navigation */
.stickyTopNav {
  position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1000;
    /* padding: 10px 20px; */
    padding: 0;
    margin: 0;
    width: 95vw;
}

.navContent {
  display: flex
  ;
      justify-content: space-between;
      align-items: center;
      width: 100vw;
      background-color: #00000000;
      border: 2px solid #615c5c;
  
}

/* Connect Text */
.connect {
  color: white;
  font-size: 1rem;
}

/* Desktop Navigation Bar */
.navBar ul.desktopNav {
  display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: -45px;
    left: 80%;
    font-weight: bolder;
    width: 10vw;
}

.desktopNav li {
  margin: 0 0px;
  margin: 0 0px;
  position: relative;
  left: -10vw;
}

.desktopNav li a {
  text-decoration: none;
    color: white;
    font-size: 0.6rem;
    /* padding: 0px; */
    font-family: 'Ethnocentric Rg', sans-serif;
    margin-right: 30px;

}
.conbtn {
  margin-top: -19px;
  position: relative;
  left: -6vw;
}
/* .desktopNav li a:hover {
  background-color: #f97316;
  border-radius: 4px;
} */

/* Mobile Menu Icon */
.mobileMenuIcon {
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Mobile Navigation Menu */
.mobileNav {
  display: none;
  list-style-type: none;
  background-color: #333;
  padding: 10px 0;
  margin: 0;
}

.mobileNav1 {
  display: none;
  
}
.mobileNav li {
  text-align: center;
  padding: 10px 0;
}
.connectingbtn {
  display: none;
}
.mobileNav li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.mobileNav li a:hover {
  color: #f97316;
}

/* Search Bar */
.searchBar {
  /* margin-left: 20px; */
  /* float: left; */
  height: 65px;
  width: 58vw;
  position: relative;
  left: 0vw;
  
}

.searchInput {
  padding: 8px 20px;
  height: 65px;
  font-size: 1rem;
  background-color: black;
  border: 1px solid #444;
  
  width: 63vw;
  position: relative;
  left: -17.4vw;
  /* top: 12px; */
}
.searchBar input {
  border: 2px solid #444;
    position: relative;
    border: 2px solid #444;
    position: relative;
    left: -29vw;  
}

.searchInput::placeholder {
  color: #999;
}

/* Main Content Layout */
.mainDiv {
  display: flex;
  flex: 1;
  margin-top: 0px;
}
.image1 {
  width: 360px;
  left: 60px;
  position: relative;
  height: 50px;
  padding: 0;
  margin: 0;
}

/* Sticky Side Navigation */
.stickySideNav {
  position: sticky;
  top: 60px;
  width: 307px;
  background-color: #000000;
  color: white;
  padding: 60px 50px;
  height: 181.4vh;
  /* height: 100vh; */
  border: 1px solid #444;
  z-index: 9999;
  
}

nav .lists {
  display: none;
  
}
.image {
  width: 33%;
  position: relative;
  top: 10px;
}

.sideNavList {
  list-style-type: none;
  padding: 0;
  width: 120%;
  
}
/* .sideNavList:hover {
  
  color: black;
  padding: 0;
} */
.sideNavList li {
  padding: 15px 15px;
  text-decoration: none;
  color: white;
  font-family: 'Ethnocentric Rg', sans-serif;
  
  
}
.sideNavList Link li {
  text-decoration: none;
}
.sideNavList li a:hover, .sideNavList li:hover {
  background-color: #967d0f;
  color: black;
  cursor: pointer;
  border-radius: 9px;
}

.sideNavList li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  
}

/* .sideNavList li a:hover {
  color: #f97316;
} */

/* Main Content Section */
.content {
  flex: 1;
  padding: 0px;
  background-color: #f4f4f4;
}


.sideNavList li.active {
  background-color: #3c69b2;
  color: black;
  text-decoration: none;
}



/* Responsive Design */
@media (max-width: 1024px) {
  .mainDiv {
    flex-direction: column;
  }

  .stickySideNav {
    position: static;
    width: 100%;
    height: auto;
  }

  .sideNavList {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-device-width: 281px) and (max-device-width: 768px){

  .stickyTopNav {
    display: block;
    
  }
  .stickySideNav {
    position: sticky;
    top: 60px;
    width: 307px;
    background-color: #000000;
    color: white;
    padding: 60px 50px;
    height: 1.4vh;
    /* height: 100vh; */
    border: 1px solid #444;
    z-index: 9999;
    
    
  }
  .mobileNav1 {
    display: block;


    position: relative;
    /* top: -50px; */
    height: 20px;
    /* float: right; */
    /* left: 5%; */
    /* display: none !important; */
    /* width: 20px; */
    /* padding: 60px; */
    /* height: 10px; */
    background-color: black;

  }
  .stickySideNav {
    display: none;
  }
  .stickySideNav1 {
    position: absolute;
    z-index: 999999999999;
    height: 100vh;
    width: 99.7%;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    padding-right: 10px;
    background-color: #000000;
    color: white;
    font-size: 10px;

    /* display: none; */


    /* position: sticky; */
  /* top: 60px; */
  /* width: 307px; */
  background-color: #000000;
  color: white;
  /* padding: 60px 50px; */
  /* height: 181.4vh; */
  /* height: 100vh; */
  /* border: 1px solid #444; */
  z-index: 999999999;
  }  
  .stickySideNav1 nav ul li {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 40px; */
  }
  
  .sideNavList li.active {
   
   color: white;
   width: 110%;
   margin-left: 5px;
   /* left: 10%; */
   /* font-size: 6px; */
   text-align: center;

   
  }
  .stickyTopNav {
    background-color: black;
    height: 64px;
  }
  .image {
    left: -12%;
    position: relative;
    width: 100%;
    /* border: 1px solid black; */
  }
  .navContent {
    border: none;
    
  }
  
  .mobileNav {
    position: relative;
    top: -50px;
    height: 20px;
    float: right;
    left: 5%;
    display: none !important;
    /* width: 20px; */
    /* padding: 60px; */
    /* height: 10px; */
    background-color: black;
  }
  .mobileNav li {
    display: none;
  }
  .desktopNav {
    display: block; /* Hide desktop navigation */
    font-family: 'Ethnocentric Rg', sans-serif;
  }
  .searchBar {
    display: none;
  }

 
  nav .list1 {
    display: none;
    z-index: 9999999;
    
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    /* z-index: 0; */
    /* display: none; */
  }
  .sideNavList {
    display: flex;
    flex-direction: column;
    width: 89%;
  }
  .mobileMenuIcon {
    display: block; /* Show hamburger icon */
    z-index: 99999999999999999;
    /* background-color: red; */
    position: relative;
    top: 2%;
    height: 60px;
    left: .2pc;
    background-color: #000000;
    float: right;
    width: 10%;
    /* text-align: center; */
  }
  .image {
    width: 110px;
    margin-top: 10px;
  }
  .mobileNav {
    display: block; /* Show mobile navigation */
  }

  .searchInput {
    width: 150px;
  }
  nav .lists {
    display: block;
    z-index: 9999999;
    position: absolute;
  }
  .topbanner button {
    height: 30px;
  }
  .topbanner {
    position: sticky;
    font-size: 9px;
    padding-top:10px ;
    width: 100vw;
    height: 50px;
    background-color: rgb(253 36 127);
    border: none;
    display: flex;
    justify-content: center;
    font-family: 'Ethnocentric Rg', sans-serif ! important ;
    /* justify-content: space-around; */
  }
  
}
  @media screen and (min-device-width: 391px) and (max-device-width: 429px){
  .mobileMenuIcon {
    position: relative;
    left: 8.9cap;
    /* overflow-x: hidden; */
    margin-top: -48px;
    background-color: #000000;
    width: 30%;
    z-index: 9999999999;
  }
  .image1 {
    width: 150px;
  }
  .connectingbtn {
    margin-top: 219px;
    margin-left: 60px;
    
    display: block;
  }
  }
  @media screen and (min-device-width: 281px) and (max-device-width: 390px){
    .mobileMenuIcon {
      position: relative;
      left: 5.5%;
      margin-top: 0px;
      background-color: #000000;
      width: 20%;
      z-index: 9999999999;
      overflow: hidden;
    }
    .image1 {
      width: 80%;
    }
    .connectingbtn {
      margin-top: 100%;
      margin-left: 50px;
      display: block;
    }
  }
  @media screen and (min-device-width: 430px) and (max-device-width: 768px){
    .mobileMenuIcon {
      position: relative;
      left: 370.5%;
      margin-top: -48px;
      background-color: #000000;
      width: 30%;
      z-index: 9999999999;
      color: white; /* Default color */
  transition: color 0.3s ease; /* Smooth transition */
}

.mobileMenuIcon.open {
  color: white; /* Change to white when nav is open */
}
    
    .image1 {
      width: 150px;
    }
    .connectingbtn {
      margin-top: 60%;
      margin-left: 210px;
      display: block;
    }
  }

